[submodule "Subsystems/CorrosionDetection"]
	path = Subsystems/CorrosionDetection
	url = git@github.com:MinmusLin/ICW_CorrosionDetection_Backend.git
[submodule "Subsystems/CrackDetection"]
	path = Subsystems/CrackDetection
	url = git@github.com:MinmusLin/ICW_CrackDetection_Backend.git
[submodule "Subsystems/FlatnessDetection"]
	path = Subsystems/FlatnessDetection
	url = git@github.com:MinmusLin/ICW_FlatnessDetection_Backend.git
[submodule "Subsystems/MobileData"]
	path = Subsystems/MobileData
	url = git@github.com:MinmusLin/ICW_MobileData_Backend.git
[submodule "Subsystems/ModelingCommunication"]
	path = Subsystems/ModelingCommunication
	url = git@github.com:MinmusLin/ICW_ModelingCommunication_Backend.git
[submodule "Subsystems/ResilienceAssessment"]
	path = Subsystems/ResilienceAssessment
	url = git@github.com:MinmusLin/ICW_ResilienceAssessment_Backend.git
[submodule "Subsystems/SpallingDetection"]
	path = Subsystems/SpallingDetection
	url = git@github.com:MinmusLin/ICW_SpallingDetection_Backend.git
[submodule "Subsystems/StainDetection"]
	path = Subsystems/StainDetection
	url = git@github.com:MinmusLin/ICW_StainDetection_Backend.git
[submodule "Subsystems/UserAuthentication"]
	path = Subsystems/UserAuthentication
	url = git@github.com:MinmusLin/ICW_UserAuthentication_Backend.git
[submodule "Subsystems/VibrationDetection"]
	path = Subsystems/VibrationDetection
	url = git@github.com:MinmusLin/ICW_VibrationDetection_Backend.git
[submodule "DatasetManagementPlatform/BackendApplication"]
	path = DatasetManagementPlatform/BackendApplication
	url = git@github.com:MinmusLin/ICW_OssManagement_Backend.git
[submodule "DatasetManagementPlatform/FrontendApplication"]
	path = DatasetManagementPlatform/FrontendApplication
	url = git@github.com:MinmusLin/ICW_OssManagement_Frontend.git
